# Visual Studio files
.vs/
*.vscode/
*.suo
*.user
*.userprefs
*.sln.docstates

# Build and output directories
bin/
obj/
publish/

# NuGet packages
packages/

# User-specific files
*.csproj.user

# Visual Studio Code specific files
.vscode/

# Miscellaneous
Thumbs.db
.DS_Store

# Ignore all JSON files
*.json